<html>
<head>
<style>

    body{
      background-image :url("https://github.com/jjeble/Stock-Prediction-/blob/master/views/Picture1.png?raw=trueg");
  }
</style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Stock Predictor</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="home">Home</a></li>
        <li><a href="event_search">Historical Data</a></li>
        <li><a href="#">Data Predictor</a></li>
      </ul>
    </div>
  </nav>
</ul>

</body>

</html>
