<head>
  <title>Event Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>

</head>
<style>
body{
background-image: url("Picture1.png");
}
</style>
<body>
  <% include partials/nav.ejs %>

  <h1>Hi</h1>
  <p>
Welcome to the official <br>corporate site
of the world's first realtime <br> stock predictor!
Given the company name, <br> date, and event, stock predictor
will <br> predict the future stock prices.
</p>
</body>
</html>
